.pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    span {
        border: 1px solid rgba(255, 255, 255, 0.9);
        background-color: hwb(91 0% 0% / 0.1);
        border-radius: 10px;
        width: 45px;
        height: 45px;
        box-sizing: border-box;
        text-align: center;
        padding-top: 10px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            border: hwb(91 0% 0% / 0.1) solid 1px;
        }

        &:active {
            transform: scale(1.1);
        }


    }

    .active {
        color: white;
        background-color: hwb(91 0% 0% / 0.4);
        transform: scale(1.1);
        cursor: none;

        &:hover {}
    }
}