.input {
    // width: 100%;
    padding: 10px 10px;
    margin-bottom: 15px;
    border: 1px solid hwb(91 0% 0% / 0.111);
    border-radius: 10px;

    &:focus {
        outline: 1px solid hwb(91 0% 0% / 0.5);
    }
}