.button {

    background-color: hwb(91 0% 0% / 0.111);
    padding: 15px 10px 15px 10px;
    border: 1px solid hwb(91 0% 0% / 0.111);
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;


    &:hover {
        background-color: hwb(91 0% 0% / 0.2);
    }

    &:active {
        transform: scale(97%);
    }

}