.root {
    margin: 20px auto;
    width: 1200px;
    padding: 30px;
    background-color: rgba(2, 184, 184, 0.096);
    border-radius: 30px;
}

.contentOne {
    width: 470px;
    padding: 20px;


    .scrollbar {
        overflow: scroll;
        height: 600px;

    }
}