.App {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  margin: 20px auto;
  width: 1200px;
  padding: 30px;
  background-color: rgba(2, 184, 184, 0.27);
  border-radius: 30px;
}

.item-enter {
  transform: translate(-350px);
}
.item-enter-active {
  transform: translate(0px);
  transition: all 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  transform: translate(-350px);
  transition: all 500ms ease-in;
}
.item {
  background-color: red;
  border: 3px solid red;
}
